/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   height: 100%;
   width: 100%;
 }

 .logo-icon {
   position: relative;
   left: -12px;
   height: 48px;
   bottom: 13px;
 }

/*TODO verify height is good on other screen size*/
 .search-container {
   width: 100%;
   height: 93.5vh;
   display: flex;
 }

.index-map {
  width: 100%;
  height: 100%;
}

.map-container {
  width: 60%;
  height: 100%;
}

.index-container {
  width: 40%;
  overflow: scroll;
}

.bridge-index {
  margin: 20px;
}

.bridge-index-item {
  /*background-color: #F0F0EB;*/
  background-color: #dfdfd9;
  border-radius: 5px;
  min-height: 100px;
  padding: 10px;
  margin: 18px 30px 18px 30px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 6px 6px 8px grey;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.bridge-index-item:hover {
  background-color: lightblue;
}

.bridge-index-item h3 {
  margin-top: 8px;
  font-size: 22px;
}

.bridge-index-item-info {
  padding: 6px 6px 6px 24px;
}

.bridge-index-item img {
  height: 80px;
  width: 120px;
  float: right;
  margin: 6px;
}

.street-view {
  height: 180px;
  width: 260px;
}
