/*modifications to react-bootstrap components*/

.navbar {
  margin-bottom: 0;
}

.control-label {
  font-size: 16px;
}

.modal-title {
  font-size: 30px;
  text-align: center;
}

.navbar-brand {
  font-size: 22px;
}

h4 {
  font-weight: 700;
}

body {
  font-family: Montserrat;
}
