/*modifications to react-bootstrap components*/

.navbar {
  margin-bottom: 0;
  height: 6.5vh; /*the search container is 93.5*/
  border-radius: 0;
}

.navbar-right {
  font-size: 16px;
}

.control-label {
  font-size: 16px;
}

.modal-title {
  font-size: 26px;
  text-align: center;
  color: gray;
}

.navbar-brand {
  font-size: 22px;
}

#glyphicon {
  font-size: 20px;
  float: left;
}

h4 {
  font-weight: 700;
}

body {
  font-family: Montserrat;
}
