.bridge-show {
  display: flex;
  justify-content: space-between;
}

.show-page-info {
  width: 100%;
  padding: 0px 60px 0px 60px;
}

.show-page-map-container {
  height: 93vh;
  width: 50%;
}

.show-page-map {
  width: 700px;
  height: 50%;
}

.show-page-pano {
  width: 700px;
  height: 50%;
}

.show-page-info img {
  width: 250px;
  margin-bottom: 20px;
}
