<!DOCTYPE html>
<html>
<head>
  <title>BridgeTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVpb32DROEkz6T1g-5YyQ6Xxb7h4D4wAg"></script>

<%= yield %>

</body>
</html>
